.s{

    &[disabled] {
        pointer-events: none;
        background: var(--gray-lighter);
        opacity: 0.6;
    }

    &.no-radius {
        border-radius: 0
    }

    &.radius-circle {
        border-radius: 50%;
    }

    &.radius-1 {
        border-radius: var(--radius-1);
    }

    &.radius-2 {
        border-radius: var(--radius-2);
    }

    &.radius-3 {
        border-radius: var(--radius-3);
    }

    &.radius-4 {
        border-radius: var(--radius-4);
    }

    &.radius-5 {
        border-radius: var(--radius-5);
    }

    &.radius-6 {
        border-radius: var(--radius-6);
    }

    &.radius-7 {
        border-radius: var(--radius-7);
    }

    &.radius-8 {
        border-radius: var(--radius-8);
    }


    /*大小*/

    &.xx-small {
        font-size: xx-small;
    }

    &.x-small {
        font-size: x-small;
    }

    &.small {
        font-size: small;
    }

    &.medium {
        font-size: medium;
    }

    &.large {
        font-size: large;
    }

    &.x-large {
        font-size: x-large;
    }

    &.xx-large {
        font-size: xx-large;
    }

    &.xxx-large {
        font-size: xxx-large;
    }

    &.shadow{
        box-shadow: 0 8px 12px #ebedf0;
    }

    &.black {
        color: white;
        background: black;
        border: 1px solid black;

        &:hover {
            background: var(--gray-darkest);
            border: 1px solid var(--gray-darkest);
        }

        &:active {
            background: var(--gray-darker);
            border: 1px solid var(--gray-darker);
        }
    }

    &.red {
        color: white;
        background: var(--color-red);
        border: 1px solid var(--color-red);

        &:hover {
            background: var(--color-red-dark);
            border: 1px solid var(--color-red-dark);
        }

        &:active {
            background: var(--color-red-darker);
            border: 1px solid var(--color-red-darker);
        }
    }

    &.green {
        color: white;
        background: var(--color-green);
        border: 1px solid var(--color-green);

        &:hover {
            background: var(--color-green-dark);
            border: 1px solid var(--color-green-dark);
        }

        &:active {
            background: var(--color-green-darker);
            border: 1px solid var(--color-green-darker);
        }
    }

    &.blue {
        color: white;
        background: var(--color-blue);
        border: 1px solid var(--color-blue);

        &:hover {
            background: var(--color-blue-dark);
            border: 1px solid var(--color-blue-dark);
        }

        &:active {
            background: var(--color-blue-darker);
            border: 1px solid var(--color-blue-darker);
        }
    }

    &.orange {
        color: white;
        background: var(--color-orange);
        border: 1px solid var(--color-orange);

        &:hover {
            background: var(--color-orange-dark);
            border: 1px solid var(--color-orange-dark);
        }

        &:active {
            background: var(--color-orange-darker);
            border: 1px solid var(--color-orange-darker);
        }
    }

    &.purple {
        color: white;
        background: var(--color-purple);
        border: 1px solid var(--color-purple);

        &:hover {
            background: var(--color-purple-dark);
            border: 1px solid var(--color-purple-dark);
        }

        &:active {
            background: var(--color-purple-darker);
            border: 1px solid var(--color-purple-darker);
        }
    }

    &.yellow {
        color: black;
        background: var(--color-yellow);
        border: 1px solid var(--color-yellow);

        &:hover {
            background: var(--color-yellow-dark);
            border: 1px solid var(--color-yellow-dark);
        }

        &:active {
            background: var(--color-yellow-darker);
            border: 1px solid var(--color-yellow-darker);
        }
    }

    /*浅色*/

    &.light-black {
        color: black;
        background: #ffffff00;
        border: 1px solid black;

        &:hover {
            color: white;
            background: black;
        }

        &:active {
            color: white;
            background: var(--gray-darker);
        }
    }

    &.light-red {
        color: var(--color-red);
        background: #ffffff00;
        border: 1px solid var(--color-red);

        &:hover {
            background: var(--color-light-red);
        }

        &:active {
            background: var(--color-light-red-lighter);
        }
    }

    &.light-green {
        color: var(--color-green);
        background: #ffffff00;
        border: 1px solid var(--color-green);

        &:hover {
            background: var(--color-light-green);
        }

        &:active {
            background: var(--color-light-green-lighter);
        }
    }

    &.light-blue {
        color: var(--color-blue);
        background: #ffffff00;
        border: 1px solid var(--color-blue);

        &:hover {
            background: var(--color-light-blue);
        }

        &:active {
            background: var(--color-light-blue-lighter);
        }
    }

    &.light-orange {
        color: var(--color-orange);
        background: #ffffff00;
        border: 1px solid var(--color-orange);

        &:hover {
            background: var(--color-light-orange);
        }

        &:active {
            background: var(--color-light-orange-lighter);
        }
    }

    &.light-purple {
        color: var(--color-purple);
        background: #ffffff00;
        border: 1px solid var(--color-purple);

        &:hover {
            background: var(--color-light-purple);
        }

        &:active {
            background: var(--color-light-purple-lighter);
        }
    }

    &.light-yellow {
        color: var(--color-yellow);
        background: #ffffff00;
        border: 1px solid var(--color-yellow);

        &:hover {
            background: var(--color-light-yellow);
        }

        &:active {
            background: var(--color-light-yellow-lighter);
        }
    }

    &.no-border {
        border: 1px solid #ffffff00;
    }

    &.group {
        & button.s {
            border-inline-width: 0.5px
        }

        & button.s:first-child {
            border-inline-start-width: 1px
        }

        & button.s:last-child {
            border-inline-end-width: 1px
        }
    }

    /*水波纹*/

    &.waterRipples {
        position: relative;
        transition: 0.3s;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            opacity: 0;
            border-radius: inherit;
            transition: .4s;
            /*box-shadow: 0 0 0 8px currentColor;*/
            outline: 8px solid currentColor;
        }

        &:active::after {
            opacity: 1;
            transition: none;
            /*box-shadow: none;*/
            outline: none;
        }

        &.black::after, &.light-black::after {
            outline-color: var(--gray-darkest);
        }

        &.red::after {
            outline-color: var(--color-red);
        }

        &.green::after {
            outline-color: var(--color-green);
        }

        &.blue::after {
            outline-color: var(--color-blue);
        }

        &.orange::after {
            outline-color: var(--color-orange);
        }

        &.purple::after {
            outline-color: var(--color-purple);
        }

        &.yellow::after {
            outline-color: var(--color-yellow);
        }
    }

    /*光泽*/
    &.shine {
        position: relative;
        overflow: hidden;
        transition: 0.3s;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: -100%;
            width: 200%;
            height: 200%;
            background: linear-gradient(135deg, transparent, white, transparent);
            transform: translateX(-100%);
            transition: 0.6s;
        }

        &:hover{
            transform: perspective(500px) rotateY(30deg);
        }
        &:hover::before {
            transform: translateX(100%);
        }
        &.shine-egg:hover{
            transform: perspective(1px) rotateY(30deg);
        }
    }
}